<div class="row button-block">
  <div class="col-md-8 media">
    <div class="navigation-icon media-left media-middle">
      <%= image_tag "73.jpg", class: "img-circle profile-picture" %>
    </div>
  </div>
  <div class="col-md-4">
    <lu>
      <li>
        Acumulado del Mes
      </li>
      <li>
        $ 1,000.00
      </li>
    </lu>
  </div>
</div>