<div class="row">
  <div class="col-sm-12 col-xs-12">

    <div class="panel panel-default">
      <div class="panel-heading text-center">
        <strong>Reporte Semanal</strong>
      </div>

      <div class="panel-body">
        <table class="table no-margin">
          <thead>
            <tr>
              <th class="text-center" width="20%">Dias</th>
              <th class="text-center" width="16%">Lunes</th>
              <th class="text-center" width="16%">Martes</th>
              <th class="text-center" width="16%">Miercoles</th>
              <th class="text-center" width="16%">Jueves</th>
              <th class="text-center" width="16%">Viernes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" width="20%">Venta Total</td>
              <td class="text-center" width="16%">$ 1,580.00</td>
              <td class="text-center" width="16%">$ 1,862.00</td>
              <td class="text-center" width="16%">$ 2,105.00</td>
              <td class="text-center" width="16%">$ 1,399.00</td>
              <td class="text-center" width="16%">$ 2,509.00</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center" width="20%">Art. Mas Vendido</td>
              <td class="text-center" width="16%">Articulo 1</td>
              <td class="text-center" width="16%">Articulo 2</td>
              <td class="text-center" width="16%">Articulo 3</td>
              <td class="text-center" width="16%">Articulo 4</td>
              <td class="text-center" width="16%">Articulo 5</td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="panel-footer text-center">
        Articulo mas vendido: - Articulo de los variants -
      </div>
    </div>

  </div>
</div>
