<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 finished-product">
  <h2 class="text-center">
    ¡Wops! no hay productos, deseas regresar y 
    <%= link_to "dar de alta mas?", new_admin_fast_product_path %>
  </h2>
  <h4 class="text-center">
    O deseas regresar a la
    <%= link_to "lista de productos", admin_products_path %>
  </h4>
</div>