<% content_for :buttons_bar do %>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <h3 class="no-margin">Lista de productos guardados</h3>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="fast-products-button-container pull-right">
      <%= link_to admin_products_path, class: "btn btn-primary" do %>
        <%= fa_icon "tags" %>
        Lista de productos
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>

<% end %>

<% content_for :page_content do %>
  <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
    <div class="row fast-products-pool" >
      <% if @fast_product_builder.products.empty? %>
        <%= render partial: "no_products" %>
      <% else %>
        <%= render partial: "product", collection: @fast_product_builder.products %>
      <% end %>
    </div>
  </div>
<% end %>