<div class="row">
  <div class="col-sm-12 col-xs-12">
    <span class="pull-right"><%= will_paginate @variants %></span>
  </div>
</div>
<table class="table table-hover products-table panel">
  <thead>
    <tr> 
      <th>Nombre</th>
      <th class="text-center">Variantes</th>
      <th class="text-center">Precio</th>
      <th class="text-center">Costo</th>
      <th class="text-center">Inventario</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'variants_list' %>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-12 col-xs-12">
    <span class="pull-right"><%= will_paginate @variants %></span>
  </div>
</div>