<div id="right-sidebar" class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert alert-danger hidden" id="right-sidebar-errors">
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box-shadowed" id="right-sidebar-header">
    <h3 class="margin-top-10 margin-bottom-10" ></h3>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="right-sidebar-body">
  </div>

  <hr/>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="right-sidebar-footer">
  </div>
</div>