<div class="top-navigation row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   
    <ul class="session-block collapse round-bottom-corners" id="collapse-menu">
      <li class="short-session-block dark-session-block"></li>
      <li class="short-session-block dark-session-block">
        <h4 class="text-left session-day-sales-text">Ventas del día:<small class="pull-right">12321</small></h4>
      </li>
      <li class="dark-session-block round-bottom-corners">
        <p class="lead session-day-money text-right">
          12321321.23<strong>$</strong>
        </p>
      </li>
      <li class="session-button-container">
        <%= render "/shared/session_button" %>
      </li>
    </ul>
    <img src="http://placehold.it/60x60" alt="..." class="img-circle profile-icon" data-toggle="collapse" href="#collapse-menu" aria-controls="collapse-menu" aria-expanded="false">
  </div>
</div>