<div class="button-block fast-products-button-block">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h3>Ventas</h3>
    <div class="fast-products-button-container pull-right">
      <%= link_to "Regresar al tablero", root_path, class: "btn btn-primary" %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>