<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 full-height system-panel" id="line-items-list-wrapper">
  <div class="row" id="line-items-list-header">
    <div class="col-md-6 margin-top-10 margin-bottom-10 padding-left-8 padding-right-8">
      <strong>Ticket:</strong> <%= @statement.id %>
    </div>
    <div class="col-md-6 margin-top-10 margin-bottom-10 text-right">
      <strong>Fecha:</strong> <%= l @statement.created_at, format: :tiket %>
    </div>
  </div>

  <div class="row" id="line-items-list-body">
    <%= render partial:'line_item_list' %>
  </div>

  <div class="row" id="line-items-list-footer">
    <div class="col-md-3">
      Venta Total
    </div>
    <div class="col-md-6">
      <form class="form-inline pull-right">
        <div class="form-group">
          <label class="sr-only" for="exampleInputAmount">Total (in dollars)</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
      </form>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-3">
      <form class="pull-right">
        <%= link_to "Cobrar", "#", class: "btn btn-primary" %>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>