<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 full-height li-footer-content">
  <h4 class="no-margin lead"><strong>Total:</strong> <%= number_to_currency(@statement.total) %></h4>
</div>


<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 full-height li-footer-content">
  <div class="pull-right">
    <% if @statement.line_items.count <= 0 %>
      <%= link_to "Pagar", "#", remote: true, class: "btn btn-primary disabled" %>
    <% else %>
      <%= link_to "Pagar", new_sales_statement_payment_path(@statement), remote: true, class: "btn btn-primary disableable" %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>