<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 full-height system-panel" id="line-items-list-wrapper">
  <div class="row box-shadowed" id="line-items-list-header">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top-10 margin-bottom-10 padding-left-8 padding-right-8">
      <strong>Ticket:</strong> <%= @statement.id %>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-top-10 margin-bottom-10 text-right">
      <strong>Fecha:</strong> <%= l @statement.created_at, format: :tiket %>
    </div>
  </div>

  <div class="row" id="line-items-list-body">
    <%= render partial:'/sales/statements/line_item_list' %>
  </div>

  <div class="row padding-top-10" id="line-items-list-footer">
    <%= render partial: '/sales/statements/statement_footer' %>
  </div>
</div>