<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 full-height">
  <div class="row box-shadowed" id="variants-list-header">
    <%= render partial: "sales/statements/variants_panel_header" %>
  </div>

  <!-- <div class="panel-body" id="variants-list-table"> -->
  <div class="row" id="variants-list-body">
    <%= render partial: "sales/variants/variants_#{@variants_view}" %>
  </div>
  <!-- </div> --> <!-- Cuerre de panel-body -->

  <div class="row" id="variants-list-footer">
    <%= remote_paginate(@variants, :previous_label => 'Anterior', :next_label => 'Siguiente', class: "margin-top-10 no-margin-bottom margin-left-10 margin-right-10 pull-right", params: { variants_view: @variants_view }) %>
    <div class="clearfix"></div>
  </div> <!-- Cuerre de panel-footer -->

</div> <!-- Cuerre de panel de productos -->

