// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$screen-xs-min: 0px;
$screen-sm-min: 750px;
$screen-md-min: 970px;
$screen-lg-min: 1170px;

@import "colors";

.add-variant-btn {
  display:block;
  padding: 15px;
  border: 1px solid #3c763d;
  border-radius: 5px;
  h2 { margin:0; }
  &:hover, &:focus  { text-decoration:none; }
}

.variant-row {
  span {
    font-size: 1em;
    margin-bottom: 0;
  }
}

.panel-custom-footer {
  background-color: #d9edf7 !important;
}

.products-table {
  td {
    vertical-align: middle !important;
  }
}

.deactivate-variant, .reactivate-variant {
  margin-top: 30px;
}

@media screen and (min-width: $screen-xs-min) {
  
}

@media screen and (min-width: $screen-sm-min) {
  #search-form input, #search-form .input-group, #search-form .form-group {
    width: 100% !important;
  }
}

@media screen and (min-width: $screen-md-min) {
 
}

@media screen and (min-width: $screen-lg-min) {
  
}
