// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#global-modal {
  .form-group {
    height: 94px;
    margin: 0;
    label { font-weight:  normal; display: block; }
    input { width: 70%; }
    span.help-block { }
  }
}