<div class="row">
  <div class="col-sm-12 col-xs-12">
    <span class="pull-right"><%= will_paginate @users, :previous_label => 'Anterior', :next_label => 'Siguiente', renderer: BootstrapPagination::Rails %></span>
  </div>
  <div class="clearfix"></div>
</div>

<table class="table table-hover products-table panel">
  <thead>
    <tr> 
      <th width="60%">Usuario</th>
      <th width="25%">Fecha de registro</th>
      <th width="15%">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'users_list' %>
  </tbody>
</table>


<div class="row">
  <div class="col-sm-12 col-xs-12">
    <span class="pull-right"><%= will_paginate @users, :previous_label => 'Anterior', :next_label => 'Siguiente', renderer: BootstrapPagination::Rails %></span>
    <div class="clearfix"></div>
  </div>
</div>

