<% if @variants.blank? %>
  <tr>
    <td  colspan="6" >
      <h1 class="text-center">
        No hay productos
      </h1>
    </td>
  </tr>
<% else %>
  <%= render partial: "admin/variants/variant", collection: @variants %>
<% end %>