<% if @variants.empty? %>
  <td  colspan="3" >
    <h1 class="text-center">
      No se encontraron productos
    </h1>
  </td>
<% else %>
  <%= render partial: "variant", collection: @variants %>
<% end %>