<div class="row">
  <div class="col-md-12 col-lg-12">

    <div class="row actions-bar">
      <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
        <%= render partial: "admin/products/desktop/button_bar" %>
      </div>

      <div class="col-sm-12 col-xs-12 hidden-md hidden-lg">
        <%= render partial: "admin/products/responsive/button_bar" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
        <%= render partial: "admin/products/desktop/table" %>
      </div>

      <div class="col-sm-12 col-xs-12 hidden-md hidden-lg">
        <%= render partial: "admin/products/responsive/table" %>
      </div>
    </div>

  </div>
</div>
