<% content_for :buttons_bar do %>
  <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
    <%= render partial: "admin/products/button_bar" %>
  </div>
<% end %>

<% content_for :page_content do %>
  <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
    <div class="row">
      <div class="col-md-12 col-lg-12 form-container">
        <%= render "form" %>
      </div>
    </div>
  </div>
<% end %>