<table class="table table-striped no-margin" id="variants-list-pool">
  <thead>
    <tr> 
      <th width="40%">Articulo</th>
      <th class="text-center" width="15%">Precio</th>
      <th class="text-center" width="15%">Inventario</th>
      <th width="10%"/>
      <th width="10%"/>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "/sales/variants/variant_row", collection: @variants %>
  </tbody>
</table>
