@import "colors";
@import "mixins";

$top-bar-height: 60px;

html, body, .site-wrap, .page-container-fluid, .full-height { height: 100%; min-height: 100%; }

body { background-color: $pos-background; }

.page-content-full-height {
  height: -webkit-calc(100% - #{$top-bar-height});
  height:    -moz-calc(100% - #{$top-bar-height});
  height:         calc(100% - #{$top-bar-height});
}

.position-absolute { position: absolute; }
.position-relative { position: relative; }

.full-width {
  width: 100%;
}

.font-size {
  font-size: 18px;
}

.no-margin-top {
  margin-top: 0px;
}
.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}

.margin-vertical {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-inline {
  label { margin-right: 5px; }
}
.max-width {
  max-width: 100%;
}

.list-inline {
  margin-bottom: 0;
}
.modal-body {
  height: auto;
  max-height: 100%;
}
.display-block { display: block; }

#global-modal {
  .form-group {
    label { font-weight:  normal; display: block; }
  }
  textarea {
    max-width: 100%;
  }
}

.hyphenate {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
 }

.button-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  .list-inline.pull-right li:last-child { padding-right: 0; }
  .responsive-row { padding-top: 5px; padding-bottom: 5px; }
}

.padding-sides {
  padding-left: 10px;
  padding-right: 10px;
}

.padding-top, .padding-top-5 { padding-top: 5px; }
.padding-bottom, .padding-bottom-5 { padding-bottom: 5px; }
.padding-right, .padding-right-5 { padding-right: 5px; }
.padding-left, .padding-left-5 { padding-left: 5px; }
.padding-top-10 { padding-top: 10px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-left-10 { padding-left: 10px; }
.padding-right-10 { padding-right: 10px; }

.padding-top-8 { padding-top: 8px; }
.padding-bottom-8 { padding-bottom: 8px; }
.padding-left-8 { padding-left: 8px; }
.padding-right-8 { padding-right: 8px; }

.padding-top-12 { padding-top: 12px; }
.padding-bottom-12 { padding-bottom: 12px; }
.padding-left-12 { padding-left: 12px; }
.padding-right-12 { padding-right: 12px; }

.no-padding-right { padding-right: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-top { padding-top: 0; }
.no-padding-bottom { padding-bottom: 0; }

.no-margin-top { margin-top: 0px; }
.no-margin-bottom { margin-bottom: 0px; }
.no-margin-left { margin-left: 0px; }
.no-margin-right { margin-right: 0px; }

.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }

.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }

.construction-block {
  margin-top: 10px;
  margin-bottom: 10px;
}

.borderless {
  border-width:0;
}

.box-shadowed { @include box-shadowed; }
.rounded-corners { @include rounded-corners; }

.system-panel {
  @include box-shadowed;
  @include rounded-corners;
  background-color: $panel-white;
}

#search-form {
  input { z-index: 0;}
  .form-group { margin-bottom: 0 !important }
}

.btn-primary {
  background-color: $light-green;
  border-color: $light-green;
  &:hover, &:focus {
    background-color: $dark-green;
    border-color: $dark-green;
  }
}

.table-row-form { display: table-row; }
.table-cell { display: table-cell; }

// MENU

// Sidebar menu

.site-wrap {
  padding-left: 70px;
}
.navigation {
  -webkit-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  &.open-navigation, &:hover { width: 220px; }
  position: fixed;
  background-color: $sidebar-bg;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.5s;
  width: 70px;
  ul.navigation-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 220px;
  }
  .navigation-element {
    width: 100%;
    height: $top-bar-height;
    list-style: none;
    & a {
      display: block;
      text-decoration: none;
      transition: 0.3s;
      height: 100%;
      width: 100%;
      color: $sidebar-text-color;
      &:hover { background-color: $sidebar-hover; }
      &:focus { background-color: $sidebar-hover; }
    }
    &:nth-child(1) { background-color: $sidebar-corner-top; color: $sidebar-bg; }
  }
  .navigation-icon { width: 70px; padding: 10px; font-size: 20px; }
  .navigation-text {
    width: 150px;
    padding: 10px 0;
    font-size: 13px;
    &.width-right{
      width: 140px;
    }
  }
  .navigation-icon, .navigation-text {
    height: $top-bar-height;
    float: left;
    line-height: 40px;
    i { font-size: 22px; }
    i.material-icons { font-size: 28px; margin-top: 6px; }
  }
  .profile-picture {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  address {
    margin: 0;
    font-size: 14px;
  }
}

// Top navigation bar

.top-menu-wrapper {
  height: $top-bar-height;
  background-color: $top-bar-bg;
  ul.top-menu-block{
    margin:0;
    height: $top-bar-height;
    font-size: 20px;
    li.top-menu-block-element { width: $top-bar-height; line-height: $top-bar-height; }
  }
  a.top-menu-link {
    color: $top-bar-text-color;
    transition: 0.3s;
    &:hover, &:focus {
      background-color: $sidebar-corner-top; color: $top-bar-text-color;
    }
  }
  .messages-link {
    color:$sidebar-bg;
  }
  .fa { position: relative; }
  .messages-count { position: absolute; bottom: -10px; right: -10px; }
  .dropdown-menu {
    li a {
      height: 40px; line-height:34px; font-size: 18px;
      color: $sidebar-text-color;
      background-color: $sidebar-corner-top;
      color: $top-bar-text-color;
      &:hover {
        background-color: $light-purple;
      }
    }
  }
  .dropdown-menu, .dropdown-menu a {
    background-color: $sidebar-corner-top; color: $top-bar-text-color;
  }
}

// FILTERS

.btn-filter {
  z-index: 0;
  &:hover{
    border-color: $light-orange;
    background-color: $light-orange;
    color: $system-white;
  }
  &:focus {
    z-index: 0;
  }
}
.btn-filter-active, .btn-filter-active:focus {
  z-index: 0;
  background-color: $dark-orange;
  color: $system-white;
  border-color: $dark-orange;
}

// LOADING ANIMATION

#right-sidebar {
  -webkit-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  position: fixed;
  background-color: $sidebar-bg;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.3s;
  padding-right:15px;
  width: 0px;
  &.open { width: 60%; }
  & #right-sidebar-header {
    height: 10%;
    max-height: 10%;
  }
  & #right-sidebar-body {
    font-size: 2em;
    height: 80%;
    max-height: 80%;
    overflow-y: scroll;
  }
  & #right-sidebar-footer {
    padding-top: 1em;
    height: 10%;
    max-height: 10%;
  }
}