$dark-purple: #3A4AAB;
$light-purple: #4D60C1;

$dark-green: #386F38;
$light-green: #52A352;

$dark-orange: #F0793B;
$light-orange: #FF9158;

$system-white: #F4F5FA;

$sidebar-bg: rgb(255, 255, 255);
$sidebar-hover: #DADCE6;
$sidebar-corner-top: $dark-purple;
$sidebar-text-color: #373839;

$top-bar-bg: $light-purple;
$top-bar-text-color: $system-white;

$button-grey: #758996;
$button-light-grey: #8899A9;


body {
  background-color: rgb(244, 246, 249);
}
.no-margin-top {
  margin-top: 0px;
}
.no-margin {
  margin: 0px;
}
.form-inline {
  label { margin-right: 5px; }
}
.max-width {
  max-width: 100%;
}
.full-height {
  height: 100%;
}
.list-inline {
  margin-bottom: 0;
}
.modal-body {
  height: auto;
  max-height: 100%;
}
.display-block { display: block; }

#global-modal {
  .form-group {
    label { font-weight:  normal; display: block; }
  }
  textarea {
    max-width: 100%;
  }
}

.button-block {
  margin-top: 10px;
  margin-bottom: 10px;
  .list-inline.pull-right li:last-child { padding-right: 0; }
}

@mixin box-shadowed {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.29) !important;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.29) !important;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.29) !important;
}

@mixin rounded-corners {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.box-shadowed { @include box-shadowed; }
.rounded-corners { @include rounded-corners; }

#search-form input { z-index: 0;}

.btn-primary {
  background-color: $light-green;
  border-color: $light-green;
  &:hover, &:focus {
    background-color: $dark-green;
    border-color: $dark-green;
  }
}

table {
  @include box-shadowed;
}

// MENU

// Sidebar menu

.site-wrap {
  padding-left: 70px;
}
.navigation {
  -webkit-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  box-shadow: 3px 0px 4px -2px rgba(0,0,0,0.2);
  &.open-navigation, &:hover { width: 220px; }
  position: fixed;
  background-color: $sidebar-bg;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
  overflow-x: hidden;
  transition: 0.5s;
  width: 70px;
  ul.navigation-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 220px;
  }
  .navigation-element {
    width: 100%;
    height: 60px;
    list-style: none;
    & a {
      display: block;
      text-decoration: none;
      transition: 0.3s;
      height: 100%;
      width: 100%;
      color: $sidebar-text-color;
      &:hover { background-color: $sidebar-hover; }
      &:focus { background-color: $sidebar-hover; }
    }
    &:nth-child(1) { background-color: $sidebar-corner-top; color: $sidebar-bg; }
  }
  .navigation-icon { width: 70px; padding: 10px; font-size: 20px; }
  .navigation-text {
    width: 150px;
    padding: 10px 0;
    font-size: 13px;
    &.width-right{
      width: 140px;
    }
  }
  .navigation-icon, .navigation-text {
    height: 60px;
    float: left;
    line-height: 40px;
    i { font-size: 22px; }
    i.material-icons { font-size: 28px; margin-top: 6px; }
  }
  .profile-picture {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  address {
    margin: 0;
    font-size: 14px;
  }
}

// Top navigation bar

.top-menu-wrapper {
  height: 60px;
  background-color: $top-bar-bg;
  ul.top-menu-block{
    margin:0;
    height: 60px;
    font-size: 20px;
    li.top-menu-block-element { width: 60px; line-height: 60px; }
  }
  a.top-menu-link {
    color: $top-bar-text-color;
    transition: 0.3s;
    &:hover, &:focus {
      background-color: $sidebar-corner-top; color: $top-bar-text-color;
    }
  }
  .messages-link {
    color:$sidebar-bg;
  }
  .fa { position: relative; }
  .messages-count { position: absolute; bottom: -10px; right: -10px; }
  .dropdown-menu {
    li a {
      height: 40px; line-height:34px; font-size: 18px;
      color: $sidebar-text-color;
      background-color: $sidebar-corner-top;
      color: $top-bar-text-color;
      &:hover {
        background-color: $light-purple;
      }
    }
  }
  .dropdown-menu, .dropdown-menu a {
    background-color: $sidebar-corner-top; color: $top-bar-text-color;
  }
}

// FILTERS

.btn-filter {
  z-index: 0;
  &:hover{
    border-color: $light-orange;
    background-color: $light-orange;
    color: $system-white;
  }
  &:focus {
    z-index: 0;
  }
}
.btn-filter-active, .btn-filter-active:focus {
  z-index: 0;
  background-color: $dark-orange;
  color: $system-white;
  border-color: $dark-orange;
}