.no-margin-top {
  margin-top: 0px;
}
.no-margin {
  margin: 0px;
}
.title-align {
  vertical-align: middle;
}
.form-inline {
  label { margin-right: 5px; }
}
.max-width {
  max-width: 100%;
}
.full-height {
  height: 100%;
}
.actions-bar {
  .list-inline {
    margin-bottom: 0;
  }
}
.modal-body {
  height: auto;
  max-height: 100%;
}

#global-modal {
  .form-group {
    label { font-weight:  normal; display: block; }
  }
  textarea {
    max-width: 100%;
  }
}