<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 button-bar">
    <%= render partial: "button_bar" %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr> 
          <th width="60%">Usuario</th>
          <th width="25%">Fecha de registro</th>
          <th width="15%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>