<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 button-bar">
      <%= link_to new_admin_user_path, class: "btn btn-primary pull-right", remote: true do %>
        Nuevo Usuario
        <%= fa_icon "plus" %>
      <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr> 
          <th width="60%">Usuario</th>
          <th width="25%">Fecha de registro</th>
          <th width="15%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
</div>