<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="row actions-bar">
      <div class="col-md-12 col-lg-12 hidden-xs hidden-sm">
        <%= render partial: "admin/users/desktop/button_bar" %>
      </div>

      <div class="col-sm-12 col-xs-12 hidden-md hidden-lg">
        <%= render partial: "admin/users/responsive/button_bar" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
    <table class="table table-bordered">
      <thead>
        <tr> 
          <th width="60%">Usuario</th>
          <th width="25%">Fecha de registro</th>
          <th width="15%">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'users_list' %>
      </tbody>
    </table>
  </div>
</div>